Conexao/Service References/Conexao/Servico.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Servico" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IConexao_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9091/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9091/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9091/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IConexao_LimparParametros_InputMessage">
    <wsdl:part name="parameters" element="tns:LimparParametros" />
  </wsdl:message>
  <wsdl:message name="IConexao_LimparParametros_OutputMessage">
    <wsdl:part name="parameters" element="tns:LimparParametrosResponse" />
  </wsdl:message>
  <wsdl:message name="IConexao_AdicionarParametros_InputMessage">
    <wsdl:part name="parameters" element="tns:AdicionarParametros" />
  </wsdl:message>
  <wsdl:message name="IConexao_AdicionarParametros_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdicionarParametrosResponse" />
  </wsdl:message>
  <wsdl:message name="IConexao_ExecutaComando_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecutaComando" />
  </wsdl:message>
  <wsdl:message name="IConexao_ExecutaComando_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecutaComandoResponse" />
  </wsdl:message>
  <wsdl:message name="IConexao_ExecutaConsulta_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecutaConsulta" />
  </wsdl:message>
  <wsdl:message name="IConexao_ExecutaConsulta_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecutaConsultaResponse" />
  </wsdl:message>
  <wsdl:message name="IConexao_dddd_InputMessage">
    <wsdl:part name="parameters" element="tns:dddd" />
  </wsdl:message>
  <wsdl:message name="IConexao_dddd_OutputMessage">
    <wsdl:part name="parameters" element="tns:ddddResponse" />
  </wsdl:message>
  <wsdl:portType name="IConexao">
    <wsdl:operation name="LimparParametros">
      <wsdl:input wsaw:Action="http://tempuri.org/IConexao/LimparParametros" message="tns:IConexao_LimparParametros_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConexao/LimparParametrosResponse" message="tns:IConexao_LimparParametros_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdicionarParametros">
      <wsdl:input wsaw:Action="http://tempuri.org/IConexao/AdicionarParametros" message="tns:IConexao_AdicionarParametros_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConexao/AdicionarParametrosResponse" message="tns:IConexao_AdicionarParametros_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecutaComando">
      <wsdl:input wsaw:Action="http://tempuri.org/IConexao/ExecutaComando" message="tns:IConexao_ExecutaComando_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConexao/ExecutaComandoResponse" message="tns:IConexao_ExecutaComando_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecutaConsulta">
      <wsdl:input wsaw:Action="http://tempuri.org/IConexao/ExecutaConsulta" message="tns:IConexao_ExecutaConsulta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConexao/ExecutaConsultaResponse" message="tns:IConexao_ExecutaConsulta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="dddd">
      <wsdl:input wsaw:Action="http://tempuri.org/IConexao/dddd" message="tns:IConexao_dddd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConexao/ddddResponse" message="tns:IConexao_dddd_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IConexao" type="tns:IConexao">
    <wsp:PolicyReference URI="#NetTcpBinding_IConexao_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="LimparParametros">
      <soap12:operation soapAction="http://tempuri.org/IConexao/LimparParametros" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdicionarParametros">
      <soap12:operation soapAction="http://tempuri.org/IConexao/AdicionarParametros" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecutaComando">
      <soap12:operation soapAction="http://tempuri.org/IConexao/ExecutaComando" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecutaConsulta">
      <soap12:operation soapAction="http://tempuri.org/IConexao/ExecutaConsulta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dddd">
      <soap12:operation soapAction="http://tempuri.org/IConexao/dddd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IConexao" type="tns:IConexao">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LimparParametros">
      <soap:operation soapAction="http://tempuri.org/IConexao/LimparParametros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdicionarParametros">
      <soap:operation soapAction="http://tempuri.org/IConexao/AdicionarParametros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecutaComando">
      <soap:operation soapAction="http://tempuri.org/IConexao/ExecutaComando" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecutaConsulta">
      <soap:operation soapAction="http://tempuri.org/IConexao/ExecutaConsulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dddd">
      <soap:operation soapAction="http://tempuri.org/IConexao/dddd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Servico">
    <wsdl:port name="NetTcpBinding_IConexao" binding="tns:NetTcpBinding_IConexao">
      <soap12:address location="net.tcp://localhost:9090/Conexao" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9090/Conexao</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>MIKE-NOT\Mike</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IConexao" binding="tns:BasicHttpBinding_IConexao">
      <soap:address location="http://localhost:9091/Conexao" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>